// Constants
$secondary-blue: #007A8D

.btn-group
  margin: 10px 0
  button
    background-color: transparent
    border: 1px solid $secondary-blue
    color: $secondary-blue
    cursor: pointer
    font-weight: bold
    padding: 10px 0
    width: 100%
  button:hover
    background-color: $secondary-blue
    color: #FFF
  .button__active
    background-color: $secondary-blue
    color: #FFF
  .btn-group--first
    border-bottom: none
    border-radius: 5px 5px 0 0
  .btn-group--last
    border-radius: 0 0 5px 5px
    border-top: none
