<div class="header-footer">
  <div>
    <header>
      <div class="topnav">
        <a href="#" class="topnav__left">
          <div class="topnav__left-help">
            <fa-icon [icon]="faInfoCircle"></fa-icon>
            <span class="topnav__left-help__help">Ajuda</span>
            <span class="topnav__left-help__how">Como funciona</span>
          </div>
          <div class="topnav__left-message">
            <fa-icon [icon]="faWhatsapp"></fa-icon>
            <div class="topnav__left-message__phone">
              <p class="topnav__left-message__phone-number">0800 123 2222</p>
              <p class="topnav__left-message__phone-message">Envie mensagem ou ligue</p>
            </div>
          </div>
        </a>
        <img src="assets/img/logo-querobolsa.svg" alt="Logo Quero Bolsa" />
        <a href="#" class="topnav__right">
          <div class="topnav__right-profile">
            <span class="topnav__right-profile__name">Nome Sobrenome</span>
            <fa-icon [icon]="faUserCircle"></fa-icon>
            <span class="topnav__right-profile__account">Conta</span>
          </div>
        </a>
      </div>
      <div class="topmenu">
        <div class="topmenu__nav">
          <p>Minha conta</p>
          <div class="topmenu__nav-items">
            <a class="topmenu__nav-item" *ngFor="let dropdownItem of dropdownItems" href="#">{{dropdownItem}}</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropdown__button">
            <div>
              Menu
              <fa-icon [icon]="faChevronDown"></fa-icon>
            </div>
          </button>
          <div class="dropdown__content">
            <a *ngFor="let dropdownItem of dropdownItems" href="#">{{dropdownItem}}</a>
          </div>
        </div>
      </div>
    </header>
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="footer__items">
      <div class="footer__first-item">
        <fa-icon [icon]="faWhatsapp"></fa-icon>
        <div class="footer__first-item__phone">
          <p>0800 123 2222</p>
          <p>Segunda a sexta de 8h às 22h</p>
        </div>
      </div>
      <div class="footer__second-item">
        <div class="footer__subitem">
          <fa-icon [icon]="faComments"></fa-icon>
          Chat
        </div>
        <div class="footer__subitem">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          E-mail
        </div>
        <div class="footer__subitem--last">
          <fa-icon [icon]="faInfoCircle"></fa-icon>
          Ajuda
        </div>
      </div>
    </div>
    <h4>Feito com <fa-icon [icon]="faHeart"></fa-icon> pela Quero Educação</h4>
  </footer>
</div>
