<div class="home-container">
  <a href="#" class="back-button">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
    Minha conta
  </a>
  <h2>Bolsas favoritas</h2>
  <p>
    Adicione bolsas de cursos e faculdades do seu interesse e receba atualizações
    com as melhores ofertas disponíveis.
  </p>
  <div class="btn-group">
    <button class="btn-group--first" [ngClass]="{'button__active': semesterChoice === 1}" (click)="changeSemester(1)">
      Todos os semestres
    </button>
    <button [ngClass]="{'button__active': semesterChoice === 2}" (click)="changeSemester(2)">
      2º semestre de 2019
    </button>
    <button class="btn-group--last" [ngClass]="{'button__active': semesterChoice === 3}" (click)="changeSemester(3)">
      1º semestre de 2020
    </button>
  </div>
  <div class="add-scholarship">
    <div class="add-scholarship__items">
      <div>
        <fa-icon [icon]="faPlusCircle" (click)="changeModalVisibility()"></fa-icon>
      </div>
      <h3>Adicionar bolsa</h3>
      <p>Clique para adicionar bolsas de cursos do seu interesse</p>
    </div>
  </div>
</div>

<app-modal [modalBody]="modalBody" [ngStyle]="{'display': modalVisibility}" (closeModal)="changeModalVisibility()">
</app-modal>

<ng-template #modalBody>
  <h3>Adicionar bolsa</h3>
  <p>Filtre e adicione as bolsas de seu interesse.</p>
  <app-input-select [label]="'SELECIONE SUA CIDADE'" [name]="'city'"
    [options]="[{value: 'string', label: 'string'}, {value: 'string', label: 'string'}]">
  </app-input-select>
  <app-input-select [label]="'SELECIONE O CURSO DE SUA PREFERÊNCIA'" [name]="'city'"
    [options]="[{value: 'string', label: 'string'}, {value: 'string', label: 'string'}]">
  </app-input-select>
  <app-input-checkbox [form]="form" key="studyModality"></app-input-checkbox>
</ng-template>
