<div class="home-container">
  <a href="#" class="back-button">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
    Minha conta
  </a>
  <h2>Bolsas favoritas</h2>
  <p>
    Adicione bolsas de cursos e faculdades do seu interesse e receba atualizações
    com as melhores ofertas disponíveis.
  </p>
  <app-input-button-group name="semester" [options]="semesters" [form]="formButtonGroup" key="semester">
  </app-input-button-group>
  <div class="add-scholarship" (click)="changeModalVisibility()">
    <div class="add-scholarship__items">
      <div>
        <fa-icon [icon]="faPlusCircle"></fa-icon>
      </div>
      <h3>Adicionar bolsa</h3>
      <p>Clique para adicionar bolsas de cursos do seu interesse</p>
    </div>
  </div>
</div>

<app-modal [modalBody]="modalBody" [ngStyle]="{'display': modalVisibility}" (closeModal)="changeModalVisibility()">
</app-modal>

<ng-template #modalBody>
  <h3>Adicionar bolsa</h3>
  <p>Filtre e adicione as bolsas de seu interesse.</p>
  <app-input-select label="SELECIONE SUA CIDADE" name="city" [options]="cities" [form]="form" key="city"
    (changeInput)="cityChanged($event)">
  </app-input-select>
  <app-input-select label="SELECIONE O CURSO DE SUA PREFERÊNCIA" name="course" [options]="courses" [form]="form"
    key="course">
  </app-input-select>
  <label class="label-title">COMO VOCÊ QUER ESTUDAR?</label>
  <div class="study-modality">
    <div class="study-modality__first">
      <app-input-checkbox [form]="form" key="studyModalityPresential"></app-input-checkbox>
      <label>Presencial</label>
    </div>
    <div class="study-modality__last">
      <app-input-checkbox [form]="form" key="studyModalityDistance"></app-input-checkbox>
      <label>A distância</label>
    </div>
  </div>
  <app-input-range label="ATÉ QUANTO PODE PAGAR?" [form]="form" key="paymentRange" prefixValue="R$" [minRange]="100"
    [maxRange]="10000">
  </app-input-range>
  <div class="flex-between">
    <span>Resultado:</span>
    <span>Ordenar por</span>
  </div>
  <app-input-select style="display: flex; width: 100%;align-items: flex-end" name="order" [styles]="styles"
    [options]="orderArray" [form]="form" key="order" [unbordered]="true"></app-input-select>
</ng-template>
