<div class="home-container">
  <a href="#" class="back-button">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
    Minha conta
  </a>
  <app-breadcrumb [form]="formBreadcrumb" key="breadcrumb"></app-breadcrumb>
  <h2>Bolsas favoritas</h2>
  <p>
    Adicione bolsas de cursos e faculdades do seu interesse e receba atualizações
    com as melhores ofertas disponíveis.
  </p>
  <app-input-button-group name="semester" [options]="semesters" [form]="formButtonGroup" key="semester"
    (changeInput)="semesterChanged($event)">
  </app-input-button-group>
  <div class="scholarship__container">
    <div class="add-scholarship" (click)="changeModalVisibility()">
      <div class="add-scholarship__items">
        <div>
          <fa-icon [icon]="faPlusCircle"></fa-icon>
        </div>
        <h3>Adicionar bolsa</h3>
        <p>Clique para adicionar bolsas de cursos do seu interesse</p>
      </div>
    </div>
    <app-scholarship-favorite *ngFor="let favorite of this.scholarshipsFavorites; let i = index" [key]="'favorites'+i"
      [value]="favorite" (changeInput)="deleteScholarship($event)">
    </app-scholarship-favorite>
  </div>
</div>

<app-modal [modalBody]="modalBody" [ngStyle]="{'display': modalVisibility}" (closeModal)="changeModalVisibility()">
</app-modal>

<ng-template #modalBody>
  <h3>Adicionar bolsa</h3>
  <p>Filtre e adicione as bolsas de seu interesse.</p>
  <app-input-select label="SELECIONE SUA CIDADE" name="city" [options]="cities" [form]="form" key="city"
    (changeInput)="cityChanged($event)">
  </app-input-select>
  <app-input-select label="SELECIONE O CURSO DE SUA PREFERÊNCIA" name="course" [options]="courses" [form]="form"
    key="course" (changeInput)="changeList()">
  </app-input-select>
  <label class="label-title">COMO VOCÊ QUER ESTUDAR?</label>
  <div class="study-modality">
    <div class="study-modality__first">
      <app-input-checkbox [form]="form" key="studyModalityPresential" (changeInput)="changeList()"></app-input-checkbox>
      <label>Presencial</label>
    </div>
    <div class="study-modality__last">
      <app-input-checkbox [form]="form" key="studyModalityDistance" (changeInput)="changeList()"></app-input-checkbox>
      <label>A distância</label>
    </div>
  </div>
  <app-input-range label="ATÉ QUANTO PODE PAGAR?" [form]="form" key="paymentRange" prefixValue="R$" [minRange]="100"
    [maxRange]="10000" (changeInput)="changeList()">
  </app-input-range>
  <div class="flex-between">
    <span>Resultado:</span>
    <span>Ordenar por</span>
  </div>
  <app-input-select class="select-order" name="order" [styles]="styles" [options]="orderArray" [form]="form" key="order"
    [unbordered]="true" (changeInput)="changeOrderList()"></app-input-select>
  <app-scholarship-list [options]="scholarshipsList" [form]="form" key="scholarshipList"
    (changeInput)="getScholarshipsList($event)"></app-scholarship-list>
  <div class="flex-between">
    <app-button [form]="form" key="cancel" label="Cancelar" colorClass="outline-blue"
      (changeInput)="buttonClicked($event)"></app-button>
    <app-button [form]="form" key="add" label="Adicionar bolsa(s)" colorClass="yellow" [(disabled)]="addDisabled"
      (changeInput)="buttonClicked($event)">
    </app-button>
  </div>
</ng-template>
