// Constants
$main-blue: #18ACC4
$secondary-blue: #007A8D
$main-yellow: #FDCB13
$secondary-yellow: #DE9E1F
$green: #0FA866
$text-black: #1F2D30
$background-grey: #FBFBFB
$modal-overlay: #1F2D30 // opacity 88%

$md: 768px
$lg: 992px

%flex-row
  display: flex
  flex-direction: row

app-input-select
  display: flex
  flex-direction: column
  margin-bottom: 20px

app-breadcrumb
  display: none
  @media only screen and (min-width: $md)
    display: flex
    margin: 20px 0 30px 0

.home-container
  align-items: flex-start
  display: flex
  flex-direction: column
  margin: 0 18px
  padding-bottom: 100px
  @media only screen and (min-width: $md)
    margin: 0 80px
  h2
    color: $text-black
    margin: 5px 0
  p
    color: $text-black
    margin: 0 0 10px 0
    padding: 0
    @media only screen and (min-width: $md)
      font-size: 12px
      margin: 5px 0 20px 0
  app-input-button-group
    @media only screen and (min-width: $md)
      margin-bottom: 20px
      width: 100%
  app-scholarship-favorite
    margin: 0
    padding: 0
  fa-icon
    margin-right: 5px

  .scholarship__container
    @media only screen and (min-width: $md)
      display: flex
      flex-wrap: wrap
  .add-scholarship
    align-items: center
    box-shadow: 0 3px 10px 0 lightgrey
    color: $text-black
    display: flex
    flex-direction: column
    margin-bottom: 20px
    padding: 10px 0
    text-align: center
    width: 100%
    @media only screen and (min-width: $md)
      display: flex
      height: 420px
      justify-content: center
      margin: 0 0 0 20px
      width: 250px
    .add-scholarship__items
      width: 50%
      @media only screen and (min-width: $md)
        width: 70%
      div
        color: $main-blue
        font-size: 60px
        padding: 10px
        @media only screen and (min-width: $md)
          font-size: 50px
      h3
        margin: 5px
        padding: 0
        @media only screen and (min-width: $md)
          font-size: 14px
      p
        font-size: 12px
        @media only screen and (min-width: $md)
          font-size: 10px

  .back-button
    color: $secondary-blue
    font-size: 14px
    font-weight: bold
    margin: 15px 0
    text-decoration: none
    @media only screen and (min-width: $md)
      display: none

.modal-body
  h3
    @media only screen and (min-width: $lg)
      font-size: 25px
      margin-bottom: 0
  p
    @media only screen and (min-width: $lg)
      font-size: 16px
      margin: 5px 0 40px 0

  .flex-between
    display: flex
    flex-direction: row
    font-weight: bold
    justify-content: space-between
  
  .flex-between.flex-between__order
    display: flex
    flex-direction: column
  
  .flex-between__order
    @media only screen and (min-width: $md)
      display: flex
      justify-content: flex-end
    span
      display: flex
      flex: 0 0 auto
      justify-content: flex-end
      @media only screen and (min-width: $md)
        align-self: center
    app-input-select
      @media only screen and (min-width: $md)
        margin: 0
  
  .flex-between__result
    @media only screen and (min-width: $md)
        align-self: center

  .flex-between.buttons
    @media only screen and (min-width: $md)
      justify-content: flex-end

  .select-order
    align-items: flex-end
    display: flex
    width: 100%

  .modal-filters__select
    @media only screen and (min-width: $lg)
      display: flex
      justify-content: flex-start
    app-input-select.shink-desktop
      @media only screen and (min-width: $lg)
        width: 48%
    .course-select
      @media only screen and (min-width: $lg)
        margin-left: 2%

  .modal-filters__modality
    @media only screen and (min-width: $lg)
      display: flex
      justify-content: flex-start
    app-input-range.shink-desktop
      @media only screen and (min-width: $lg)
        margin-left: 2%
        width: 48%
    .modal-filters__modality-study
      @media only screen and (min-width: $lg)
        width: 48%
    .label-title
      font-size: 14px
      font-weight: bold
    .study-modality
      @extend %flex-row
      margin: 20px 0
      .study-modality__first
        @extend %flex-row
        label
          margin-left: 5px
      .study-modality__last
        @extend %flex-row
        margin-left: 20px
        label
          margin-left: 5px
